<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
       <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />       
    </startup>

  <appSettings>
	  <add key="r2rDbConStr" value="Data Source=localhost;Initial Catalog=JoJo;Integrated Security=True;" />
    <add key="r2rTemplate1" value="D:\R2R\Templates\r2rTemplate" />
    <add key="r2rOutput" value="D:\R2R\Output" />
    <add key="r2rNArrange" value="D:\R2R\NArrange 0.2.9" />
    <add key="r2rpath" value ="D:\R2R\r2rSuite\JoJoSuite.UI\bin\Debug\r2rrun.exe"/>
  </appSettings>
  
</configuration>
